@import "tailwindcss";

/* custom scrollbar the same theme as app */

/* Apply to all scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b059f6; /* Custom purple thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #2d0f3a; /* A darker background to fit your app */
}

/* Firefox-specific scrollbar styling */
* {
  scrollbar-width: auto;
  scrollbar-color: #b059f6 #2d0f3a;
}







/* styles for images, maybe don't need anymore */
.main-container {
  background-image: url('./assets/example-background.jpg');
  background-size: cover;            /* Scale image to cover container */
  background-position: center;       /* Center the image */
  background-repeat: no-repeat;      /* Don't repeat */
  min-height: 100vh;                 /* Ensure it fills the viewport */
  position: relative;
  z-index: 1;
}

.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* Light overlay */
  z-index: -1; /* Put behind content */
}
